.sub-heading{
    text-align: center;
    color: var(--gold);
    font-family: "Poppins", sans-serif;
    position: relative;
    margin-top: 10%;
  }
  .sub-heading::before{
    content: 'Co-ordinators';
    position: absolute;
    bottom: -8rem;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    font-size: 150%;
    color: var(--grey);
  }


@media (max-width: 578px){
    
}