:root {
    /* colors */
    --light: #f8f9fa;
    --light-2: #909090;
    --light-3: #ebebeb;
    --white: #ffffff;
    --dark: #0b0e10;
    --black: rgb(0, 0, 0);
    --gold: rgb(203, 142, 36);
    --grey: #424242;
    --red: rgb(220, 37, 37);
    /* breakpoints */
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
  
    /* fonts */
    --font-family-sans-serif: "Fira Sans", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none !important;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--dark);
    text-align: left;
    font-family: "Poppins", sans-serif;
}

/************************ Header CSS ************************/
#header{
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header h1{
    font-size: 4rem;
}

.breadcrumb-item a{
    color: var(--gold);
}

/************************ Department cards CSS ************************/
.departments-cards-grid{
    color: var(--black);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    margin: auto 20px;
    gap: 2rem;
    padding: 0 3rem;
}
.dept-card{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid var(--gold);
}
.content-holder{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.content-holder hr{
    color: var(--light);
}
.Dept-name{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 5px;
    color: var(--gold);
}
.technical-events-content{
    height: 150px;
}
.Technical-events-title, .Non-Technical-events-title{
    font-weight: bold;
    color: var(--gold);
    padding: 0.5rem 0;
}
.technical-events li,.non-technical-events li{
    padding: 2px;
    color: var(--light-2);
    margin: 0.3rem 0;
}
.technical-events li i,.non-technical-events li i{
    margin-left: 0.6rem;
}
.departments-cards-grid hr{
    margin: 0 auto 10px auto;
}
.overall-dept-staff-coordinator,.overall-dept-student-coordinator{
    display: flex;
    align-items: center;
}
.overall-dept-staff-coordinator{
    margin-bottom: 10px;
}
.technical-events, .non-technical-events{
    height: 105px;
    overflow: auto;
}
.technical-events::-webkit-scrollbar,
.non-technical-events::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.technical-events::-webkit-scrollbar-track,
.non-technical-events::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

.technical-events::-webkit-scrollbar-thumb,
.non-technical-events::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

.technical-events::-webkit-scrollbar-thumb:hover,
.non-technical-events::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

.icons{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    margin-bottom: 0px;
}
.icons a{
    height: 30px;
    width: 30px;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid transparent;
}
.icons a{
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.icons a i{
    transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1){
    color: #1877F2;
    border-color: #b7d4fb;
}
.icons a:nth-child(1):hover{
    background: #1877F2;
}
.icons a:nth-child(2){
    color: #25D366;
    border-color: #25D366;
}
.icons a:nth-child(2):hover{
    background: #25D366;
}
.icons a:nth-child(3){
    color: #e1306c;
    border-color: #f5bccf;
}
.icons a:nth-child(3):hover{
    background: #e1306c;
}
.icons a:hover{
    color: #fff;
    border-color: transparent;
}
.icons a:hover i{
    transform: scale(1.2);
}

.bottom-section{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bottom-section button{ 
    background: var(--gold);
    border-radius: 2px;
}
.bottom-section button a{
    color: var(--dark);
}
.bottom-section button:hover{
    background: transparent;
    border: 1px solid var(--gold);
    border-radius: 2px;
    color: var(--light);
}

/************************ Popup modals style ************************/
.popup li, .popup2 li{
    list-style: none;
}
.view-modal, .popup, .popup2{
    position: fixed;
    left: 50%;
}
.view-modal{
    top: 50%;
    color: #11131e;
    font-size: 18px;
    padding: 10px 25px;
    background: #fff;
    transform: translate(-50%, -50%);
}
.popup, .popup2{
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    top: -150%;
    width: 40%;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transform: translate(-50%, -50%) scale(1.2);
    transition: top 0s 0.2s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;
}
.popup.show, .popup2.show{
    top: 50%;
    opacity: 1;
    pointer-events: auto;
    transform:translate(-50%, -50%) scale(1);
    transition: top 0s 0s ease-in-out,
                opacity 0.2s 0s ease-in-out,
                transform 0.2s 0s ease-in-out;

}
.popup :is(header, .field), .popup2 :is(header, .field){
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popup :is(.icons), .popup2 :is(.icons){
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.popup header, .popup header{
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
}
header span{
    font-size: 21px;
    font-weight: 600;
}
header .close, .icons a{
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
header .close{
    color: #878787;
    font-size: 17px;
    background: #f2f3fb;
    height: 33px;
    width: 33px;
    cursor: pointer;
}
header .close:hover{
    background: #ebedf9;
}

.popup .content{
    margin: 20px 0;
}
.popup .icons, .popup2 .icons{
    margin: 15px 0 20px 0;
}
.content p{
    font-size: 16px;
    margin-top: 2rem;
}
.content .pop-description{
    margin-top: 0.5rem;
    margin: 1rem 1rem;
    color: #878787;
}
.content .icons a{
    height: 40px;
    width: 40px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
}
.icons a i{
    transition: transform 0.3s ease-in-out;
}
.icons a:nth-child(1){
    color: #1877F2;
    border-color: #b7d4fb;
}
.icons a:nth-child(1):hover{
    background: #1877F2;
}
.icons a:nth-child(2){
    color: #25D366;
    border-color: #25D366;
}
.icons a:nth-child(2):hover{
    background: #25D366;
}
.icons a:nth-child(3){
    color: #e1306c;
    border-color: #f5bccf;
}
.icons a:nth-child(3):hover{
    background: #e1306c;
}

.icons a:hover{
    color: #fff;
    border-color: transparent;
}
.icons a:hover i{
    transform: scale(1.2);
}
.content .field{
    margin: 12px 0 -5px 0;
    border-radius: 4px;
    padding: 1rem;
    border: 1px solid #e1e1e1;
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 1rem;
}
.field.active{
    border-color: #11131e;
}
.field i{
    width: 50px;
    font-size: 18px;
    text-align: center;
}
.field.active i{
    color: #11131e;
}
.field input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}
.field #contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 5%;
    margin: 0;
}
.field ul li{
    margin: 0.5rem 0;
}
.field ul li:nth-child(1){
    font-weight: 600;
}
.field ul li:nth-child(2){
    font-size: 15px;
}
.field button{
    color: #fff;
    padding: 5px 18px;
    background: #11131e;
}
.field button:hover{
    background: #11131e;
}
.popup, .popup2{
    width: 40%;
    max-height: 80%;
    overflow: auto;
}
.popup .icons, .popup2 .icons{
    padding: 0.5rem 0;
}
.content .field{
    font-size: medium;
}
.content .field ul{
    text-align: center;
    margin-left: 0;
    padding: 0;
}

.part2 >p{
    text-align: justify;
}
.part2 p{
    height: 100%;
}
.description-title{
    display: flex;
    justify-content: center;
}



                             /* Mediaquery */
/********************* Extra-Large Devices Only *********************/
@media (min-width: 1200px) {

}

/********************* Large Devices Only *********************/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********************* Medium Devices Only *********************/
@media (min-width: 768px) and (max-width: 991px) {
    #header{
        padding: 2rem;
    }
    .departments-cards-grid {
        padding: 0 !important;
    }
    .popup, .popup2{
        width: 70%;
        max-height: 80%;
    }
    
}

/********************* Small Devices Only *********************/
@media (min-width: 576px) and (max-width: 767px) {
    #header{
        padding: 2rem;
    }
    .departments-cards-grid {
        padding: 0 !important;
    }
    .popup, .popup2{
        width: 70%;
        max-height: 80%;
    }
}

/********************* Extra-small Devices Only *********************/
@media (max-width: 575px) {
    #header{
        padding: 2rem;
    }
    .popup, .popup2{
        width: 90%;
        max-height: 100%;
    }
    .content .field{
        font-size: medium;
        flex-direction: column;
        align-items: center; 
    }
    .field #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}

/********************* Mobile Devices Only *********************/
@media (max-width: 480px){
    .departments-cards-grid {
        padding: 0;
        grid-template-columns: 1fr;
       
    }
    .event{
        font-size: 4rem !important;
        text-align: center;
    }
    .popup, .popup2{
        width: 90%;
        max-height: 80%;
        overflow: auto;
    }
    .content .field{
        font-size: medium;
        flex-direction: column;
        align-items: center; 
    }
    .field #contact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}    